@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&dispaly=swap);

:root{
    blue: #3498db;
    red: #e74c3c;
    orange: #f39c12;
    black: #333;
    white: #fff;
    light-background: #eee;
    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
    /*border: 1px solid black;*/
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

*::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
}

body{
    background-color: whitesmoke;
}

.btn,
.delete-btn,
.option-btn{
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 5px;
    text-transform: capitalize;
}

.btn{
    background-color: darkslateblue;
    margin-top: 10px;
}

.delete-btn {
    background-color: red;
    margin-top: 10px;
}

.option-btn{
    background-color: orange;
    margin-top: 10px;
}



.message{
    position: sticky;
    top: 0; right: 0; left: 0;
    padding: 15px 10px;
    background-color: white;
    text-align: center;
    z-index: 1000;

}



.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form{
    width: 500px;
    border-radius: 5px;
    border: black;
    padding: 20px;
    text-align: center;
    background-color: mediumpurple;
}

.form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: black;
}

.form-container form .box{
    width:100%;
    border-radius: 5px;
    border: black;
    padding: 12px 14px;
    font-size: 18px;
    margin: 10px 0;
}

.form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}

.form-container form p a{
   color: white;
}

.form-container form p a:hover{
    text-decoration: underline;
}

/*.container{*/
/*    padding:0 20px;*/
/*    margin: 0 auto;*/
/*    max-width: 1200px;*/
/*    padding-bottom: 70px;*/
/*}*/

.container .heading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-transform: capitalize;
}

.container .user-profile{
    padding: 20px;
    text-align: center;
    background-color: mediumpurple;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 500px;
}

.container .user-profile p{
    margin-bottom: 10px;
    font-size: 25px;
    color: black;
}

.container .user-profile p span{
    color: black;
}

.container .flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.container .products .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.container .products .box-container::-webkit-scrollbar{
    width: 1rem;
    color: grey;
}

.container .products .box-container .box {
    text-align: center;
    border-radius: 5px;
    position: relative;
    padding: 20px;
    background-color: white;
    width: 400px;
}

.container .products .box-container .box img{
    height: 200px;
}

.container .products .box-container .box .name{
    font-size: 20px;
    padding: 5px 0;
    text-transform: capitalize;
}

.container .products .box-container .box .price{
    position: center;
    top: 10px; left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: mediumpurple;
    color:white;
    font-size: 20px;
}

.container .products .box-container .box input[type="number"]{
    margin:10px 0;
    width: 100%;
    background-color: peachpuff;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 10px 14px;
}

.container .shopping-cart{
    padding: 20px 0;
}

.container .shopping-cart table{
    width: 70%;
    text-align: center;
    border: double;
    border-radius: 5px;
    background-color: white;
    margin-right: 100px;
    margin-left: 200px;
}

.container .shopping-cart table thead{
    background-color: mediumpurple;
    }

.container .shopping-cart table thead th{
    padding: 10px;
    color: white;
    text-transform: capitalize;
    font-size: 20px;

}

.container .shopping-cart table .table-bottom{
    background-color: plum;
    text-transform: capitalize;
}

.container .shopping-cart table tr td{
    padding: 10px;
    font-size: 20px;
    color: black;
}

.container .shopping-cart table tr td:nth-child(1){
    padding: 0;
}
.container .shopping-cart table tr td input[type="number"]{
    width: 70px;
    padding: 12px 14px;
    font-size: 20px;
    background-color: peachpuff;
    text-align: center;
}

.container .shopping-cart .cart-btn{
    margin-top: 10px;
    align-items: center;
    margin-right: 100px;
    margin-left: 200px;
}

.container .shopping-cart .disabled{
    pointer-events: none;
    background-color: red;
    opacity: .5;
    user-select: none;
}

.checkout-form form{
    padding: 2rem;
    border-radius: .5rem;
    background-color: mediumpurple;
    margin-left: 10rem;
    margin-right: 10rem;
}

.checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.checkout-form form .flex .inputBox{
    flex: 1 1 20rem;
}

.checkout-form form .flex .inputBox span{
    font-size: 1.5rem;
}

.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
    width: 80%;
    background-color: white;
    font-size: 1.5rem;
    color: black;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1.2rem 1.4rem;
    text-transform: capitalize;
}

.dispay-order{
    max-width: 50rem;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-transform: capitalize;
}

.dispay-order span{
    display: inline-block;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    margin: .5rem;
}
.dispay-order span.grand_total{
    width: 100%;
    background-color: red;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

.order-message-container{
    position: center;
    top: 0; left: 0;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: white;
    width: 70%;
    margin-left: 15rem;
    text-transform: capitalize;
    border: double;
}

.order-message-container::-webkit-scrollbar{
    width: 1rem;
    color: grey;
}

.order-message-container .message-container{
    width: 50rem;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;

}

.order-message-container .message-container h3{
    font-size: 2.5rem;
}

.order-message-container .message-container .order-detail{
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
}

.order-message-container .message-container .order-detail span{
    background-color: white;
    border-radius: .5rem;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem;
}

.order-message-container .message-container .order-detail span.total{
    display: block;
    background-color: red;
    color: white;
}

.order-message-container .message-container .customer-details{
    margin: 1.5rem 0;
}

.order-message-container .message-container .customer-details p{
    padding: 1rem 0;
    font-size: 2rem;
}

.order-message-container .message-container .customer-details p span{
    color: purple;
    padding: 0 .5rem;
    text-transform: capitaliza;
}

@media (max-width: 1200px){
    .container .shopping-cart{
        overflow-x: scroll;
    }

    .container .shopping-cart table{
        width: 1000px;
    }
}

@media (max-width: 450px){
    .container .heading{
        font-size: 30px;
    }
    .container .products .box-container .box img{
        height: 200px;
    }
}

